<%= cl_image_tag("vsmtksnlxzewgwyqrign", alt: "alttext") %>

<div class="center-box">
  <div class="flex-container">
    <% @cocktails.each do |cocktail| %>
      <%= render 'components/card', cocktail: cocktail %>
    <% end %>
  </div>
</div>
