.index-card {
  background-size: cover;
  width: 30vw;
  height: 150px;
  background-position: top;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 8px;
}
